@model OrangeBricks.Web.Controllers.Error.ViewModels.ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@Model.ErrorMessage</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

